*{
 padding: 0;
 margin: 0;   
}
body{
    
     font-family: 'Roboto', sans-serif;
 }
 .img-containt{
    background-color:#E4F9F5;

 }
 .rslt{
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
    color: #11999E;
    
}
h3{
    color: teal;
    text-align: center;
    margin: 15px;
}

 .s3{
     width: 70%;
     height: auto;
     padding-left:195px; 
     
 }
 .s4{
    width: 70%;
    height: auto;
    padding-left:195px;
    
}
.s5{
    width: 70%;
    height: auto;
    padding-left: 195px;
    
}
.s6{
    width: 70%;
    height: auto;
    padding-left: 195px;
    
}
.div-clear{
    clear: both;
}
hr{
    border: solid black 2px;
    border-bottom: none;
    margin-top: 10px;

}
@media screen and ( max-width: 700px)
 {   .img-containt{
     flex-direction: column;
     text-align: center;

    }
   .img-containt .s3,.s4,.s5,.s6 {
       width: 100%;
       padding-left: 0px;
   }
    
 }
